body {
    background-image: url('bg_img.jpg');
    background-size: cover;
    background-position: top center;
}

::-webkit-scrollbar {
    display: none;
}


.challenges{
    width: 250px;
    margin: 50px auto;
    font-family: "CostaRicaNormal", Arial, Helvetica, sans-serif;
    color: #25b8db;
    border: 3px solid #25b8db;
    border-radius: 20px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.75);
}

.challenge{
    border: 1px solid #25b8db;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
}

h1{
    margin: 0px;
}
h2{
    margin-top: 0px;
}

#jedi-list {
    background-color: black;
    color: white;
    font-family: "CostaRicaNormal";
    font-size: 1.15rem;
}